.sidebar{
    height: 100vh;
    flex: 0.2;
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    height: 100vh;
    min-height: 230px;
    background-color: #040404;
}
.Sidebar__logo{
    margin-left: auto;
    height: 70px;
    padding: 10px;
}
.sidebar__title{
    padding: 5px;
    margin-left: 10px;
    font-size: 12px;
    font-weight: 600;
}